.wrapper.users.show
  .wrapper.users.show__section
    .wrapper-main
      %section.content__first
        .content__first-header
          %h2 投稿一覧
        .content__first-contents

      %section.content__second
        .content__second-header
          %h2 読んだ本
        .content__second-contents

      %section.content__third
        .content__third-header
          %h2 読みたい本
        .content__third-contents

    .wrapper-side
      %section.userData
        %section.userData__first
          .userData__first-name

          .userData__first-image
            
        %section.userData__second
          .userData__second-header
            %h2 プロフィール
          .userData__second-menu
            %ul.userData-nav
              %li 名前
              %li 好きな本