.wrapperTwo
  .containerFeatures
    %h2.head__title
      IREの特徴
    .containerFeatures__items
      .containerFeatures__items__list
        %h3.item__subtitle
          ①本を読む準備をする
        %figure.containerFeatures__images
          = image_tag "本棚.jpg", class: "containerFeatures__images__image"

      .containerFeatures__items__list
        %h3.item__subtitle
          ②本の読み方を知る
        %figure.containerFeatures__images
          = image_tag "books_six.jpg", class: "containerFeatures__images__image"

      .containerFeatures__items__list
        %h3.item__subtitle
          ③本から得た知識をアウトプットする
        %figure.containerFeatures__images
          = image_tag "books_three.jpg", class: "containerFeatures__images__image"

