.wrapperFive
  .wrapperFive__head
    %h2.title
      %i.fas.fa-graduation-cap
      セルフテスト
  .wrapperFive__testLists
    .wrapperFive__testLists__group
      .wrapperFive__testLists__group__panel
        .wrapperFive__testLists__group__panel__task
          %p.question
            %i.fas.fa-tasks
            十分な時間とモチベーションが足りない
          %p.answer
            ①メンタルマップを使う。
            ②とりあえず読んでみようという程度のモチベーションで、スキマ時間を活用する。
          %p.question
            %i.fas.fa-tasks
            集中力が維持できない
          %p.answer
            ①仕組みを作る。10分タイマーをかけるなど、集中しやすいサイクルを作ろう！
          %p.question
            %i.fas.fa-tasks
            ボキャブラリー不足
          %p.answer
            ①単語帳に書き出し、忘れそうなタイミングで復習することによって記憶に定着しやすい。
            ②定着した結果ボキャブラリーが増え、読みやすくなる。
          %p.question
            %i.fas.fa-tasks
            本のどの部分に集中すべきか選べない
          %p.answer
            ①最初から最後まで読まなければいけないという思い込みは捨てる。
            ②目次の中から優先順位が高いと感じた１つの章だけ読んでみる。
          %p.question
            %i.fas.fa-tasks
            新しい理論、細かい情報を理解できない
          %p.answer
            ①まずは自分が理解できるところ、自分の持っている知識との共通点をみつけていきましょう。
          %p.question
            %i.fas.fa-tasks
            メインのポイントと議論のポイントが掴めない
          %p.answer
            ①本の中には一定の階層構造があり、「しかし」「つまり」「例えば」などの接続詞に注目することで、読むべきパートと読み飛ばしてもいいパートを見分けることができます。
          %p.question
            %i.fas.fa-tasks
            エビデンスの価値が測れない
          %p.answer
            ①エビデンスの価値は巻末に併記されている参考文献リストや著者のプロフィール、これまでの著作から累速することが可能です。
          %p.question
            %i.fas.fa-tasks
            本の内容を理解するための背景知識や経験がない 
            馴染みのない分野である
          %p.answer
            ①遡って入門書を読む
            ②実用書の漫画版から入ってみる。





