.wrapperTwo
  .containerFeatures
    %h2.head__title
      IREの特徴
    .containerFeatures__items
      .containerFeatures__items__list
        %h3.item__subtitle
          あなたの読みたい本を登録できる
        %figure.containerFeatures__images
          = image_tag "本棚.jpeg", class: "containerFeatures__images__image"
          
      .containerFeatures__items__list
        %h3.item__subtitle
          書籍一覧から登録した本がわかる
        %figure.containerFeatures__images
          = image_tag "books_two.jpeg", class: "containerFeatures__images__image"

      .containerFeatures__items__list
        %h3.item__subtitle
          写真ごと登録できるからわかりやすい
        %figure.containerFeatures__images
          = image_tag "books_three.jpg", class: "containerFeatures__images__image"

