.wrapperSeven
  .wrapperSeven__container
    .wrapperSeven__container__items
      .wrapperSeven__container__items-one
        %h2.head-title
          メンタルマップとは
        %p.detail
          これこれこういうこと

      .wrapperSeven__container__items-two
        %h2.head-title
          キュリオシティギャップとは
        %p.detail
          これこれこういうこと

      .wrapperSeven__container__items-three
        %h2.head-title
          セルフテストとは
        %p.detail
          これこれこういうこと
