.wrapperOne
  .create-one
    .create-one__body-main
      .create-one__body-main--top
        %p 読書効率を向上させたい全てのひとへ。
      .create-one__body-main--middle
        %p 本を読む準備をしているかどうかで、知識をアウトプットできるかどうかが決まります。
        %p これは、その手助けをするアプリです。
      .create-one__body-main--btn
