* {
  box-sizing: border-box;
}

head,body{
  margin: 0;
  padding: 0;
}

.header{
  border-bottom: solid 1px #00BCD4;
  &__menu{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    &__left{
      margin-top: 13px;
      &-icon{
        font-size: 25px;
        .icon-btn{
          color: black;
        }
      }
    }
    &__center{
      .search-btn{
        text-decoration: none;
        font-weight: bold;
        font-size: 37px;
        color: #799dec;
        text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
        &.search-btn:active {
          top: 4px;
          text-shadow: none;
        }
      }
    }
    &__right{
      &-signedIn{
        .lists{
          display: flex;
          .login-btn{
            position: relative;
            display: inline-block;
            font-weight: bold;
            padding: 0.25em 0.5em;
            text-decoration: none;
            color: #00BCD4;
            background: #ECECEC;
            transition: .4s;
            margin-right: 10px;
            &:hover{
              background: #00bcd4;
              color: white;
            }
          }
          .user-icon{
            width: 50px;
            height: 50px;
            border-radius: 100px;
            object-fit: cover;
          }
          .delete-btn{
            position: relative;
            display: inline-block;
            font-weight: bold;
            padding: 20px 10px;
            text-decoration: none;
            color: #00BCD4;
            background: #ECECEC;
            transition: .4s;
            &:hover{
              background: #00bcd4;
              color: white;
            }
          }
        
        }
      }
    }
    &__right-newUser{
      .lists{
        display: flex;
        margin-top: 8px;
        .login-btn,.newUser-btn{
          position: relative;
          display: inline-block;
          font-weight: bold;
          padding: 0.25em 0.5em;
          text-decoration: none;
          color: #00BCD4;
          background: #ECECEC;
          transition: .4s;
          margin-right: 10px;
          &:hover{
            background: #00bcd4;
            color: white;
          }
        }

      }
    }
  }
}