= render 'shared/header'
.newPost
  .form
    .searchForm
      %input.searchBooks{ type: "search", placeholder: "Book Title", class: "search-input", id: "title"}
      %input.searchBooks{ type: "search", placeholder: "Book Author", class: "search-input", id: "author"}
      %input.sendBtn{ type: "submit", value: "検索", class: "search-btn", id: "searchBtn"}
    = render 'form'
= render 'shared/footer'




