*{
  box-sizing: border-box;
}

.userWrapper{
  padding: 50px 200px;
  background: whitesmoke;
  &__contents{
    &__main{
      display: flex;
      background: white;
      border-bottom: solid 1px black;
      &__icon{
        height: 300px;
        width: 200px;
        &__image{
          padding: 10px;
          .user-img{
            border-radius: 50%;
          }
        }
        &__name{
          text-align: center;
          p{
            font-size: 20px;
          }
        }
      }
      &__info{
        height: 300px;
        width: 100%;
        &__nav{
          padding: 0 50px;
          text-align: center;
          &__name{
            padding-top: 20px;
            h2{
              font-size: 50px;
              color: #00BCD4;
            }
          }
          &__activity{
            margin-top: 80px;
            ul{
              display: flex;
              justify-content: center;
              li{
                padding-right: 20px;
              }
            }
          }
        }
      }
    }
    &__navArea{
      background: white;
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 100px;
      &__user-menu{
        ul{
          display: flex;
          padding-top: 40px;
          li{
            padding-right: 20px;
            color: #00BCD4;
            i{
              font-weight: bold;
              color: #646464;
            }
          }
        }
      }
      &__user-buttons{
        ul{
          display: flex;
          padding-top: 40px;
          li{
            padding-right: 20px;
            font-weight: bold;
            .twitter-icon{
              color: #22b8ff;
            }
            .facebook-icon{
              color: #6680d8;
            }
            a{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}