.wrapper.users.show{


    &__sections{
      width: 1004px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    .wrapper-main {
      float: right;
      width: 684px;
      background-color: whitesmoke;
      .first{

        &__header{
          height: 30px;
          border-bottom: solid black;
        }

        &__contents{

        }

      }

      .second{

        &__header{

        }

        &__contents{

        }

      }

      .third{

        &__header{

        }

        &__contents{

        }

      }


    }

    .wrapper-side{
      float: left;
      width: 300px;
      background-color: wheat;
    }
  }
}