.wrapper.users.show{
    background-color: blue;
    height: 100vh;
    width: 100%;

    &__section{
      
    
    .wrapper-main {
      float: right;

      section{

      }


    }

    .wrapper-side{
      float: left;



    }
  }
}